*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 100%;
    background-color: bisque;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}
form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
label{
    margin-bottom: 6px;
}
input{
    margin-bottom: 5px;
    padding: 5px;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.4);
}
input:focus{
    border: 1px solid bisque;
}
button {
    background-color:rgb(12, 237, 23);;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}